.container {
  display: flex;
  flex-direction: column;
  min-width: 450px;  
}

.container > * {
  width: 90%;
  margin: auto;
}

.form {
  display: flex;
  padding-top: 6px;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}

.example-full-width {
  width: 100%;
}