.container {
  display: flex;
  flex-direction: column;
  min-width: 450px;  
}

.container > * {
  width: 90%;
  margin: auto;
}

.form {
  display: flex;
  padding-top: 6px;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}

.example-full-width {
  width: 100%;
}

::ng-deep .mat-mdc-dialog-surface{
  /*overflow-y: unset !important;*/
  overflow-x: hidden !important;
}

::ng-deep c-card-body{
  margin:10px 20xp 20xp 20xp;
}

::ng-deep mat-hint{
  width: 100%;
  text-align: right;
  display: block;
}