<div class="container">
  <h3 mat-dialog-title>Edit Record</h3>
  <form class="mat-dialog-content mt-3" (ngSubmit)="submit" #formControl="ngForm">
    
    <ng-container [matColumnDef]="column" *ngFor="let column of columnsWithButtons">
      <div *ngIf="isType(['number', 'string', 'dateTime'], column) && data.id != column">
        <!-- 'number', 'string', 'dateTime' -->
        <mat-form-field class="example-full-width">
          <mat-label>{{ textHeaders.get(column) }}</mat-label>          
          <input matInput [placeholder]="textHeaders.get(column)" [(ngModel)]="data.row[column]" [value]="data.row[column]"   >          
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
        <!-- 'boolean' -->
      <section *ngIf="isType(['boolean'], column) && data.id != column">
        <mat-checkbox [(ngModel)]="data.row[column]"  >
          {{ textHeaders.get(column) }}
        </mat-checkbox >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </section>

      <mat-form-field *ngIf="isType(['date'], column) && data.id != column" class="example-full-width">
        <mat-label>{{ textHeaders.get(column) }}</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="data.row[column]">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </ng-container>
    <div mat-dialog-actions>
      <!-- [disabled]="!formControl.valid" -->
      <button mat-button type="submit" [mat-dialog-close]="1" (click)="confirmEdit()">{{ 'Save' | translate }}</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">{{ 'Cancel' | translate }}</button>
    </div>
  </form>
</div>
