<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card>
      <c-card-header>
        <!-- <strong>Angular Form Control</strong> -->
        <strong>{{ 'EditRecord' | translate }}</strong>
      </c-card-header>
      <c-card-body style="margin:20px;">
        <form class="mat-dialog-content mt-3" (ngSubmit)="submit" #formControl="ngForm">

        <!-- <ngx-mat-timepicker [(ngModel)]="date"></ngx-mat-timepicker> -->

        <!--
        <mat-form-field>
          <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date"
            [min]="minDate" [max]="maxDate" [disabled]="disabled">

          <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker ></ngx-mat-datetime-picker>


          <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
            [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
            [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian"
            [disableMinute]="disableMinute" [hideTime]="hideTime">
          </ngx-mat-datetime-picker>

      </mat-form-field>
        -->


          <ng-container [matColumnDef]="column" *ngFor="let column of columnsWithButtons">
            <!-- PARA ID -->
            <div *ngIf="isType(['number', 'string'], column) && column != 'creationDate'">
              <!-- 'number', 'string', 'dateTime' -->
              <div class="example-full-width mb-3" [cFormFloating]="true">
                <input cFormControl [readonly]="data.id == column" [placeholder]="getPlaceholder(textHeaders.get(column))" [(ngModel)]="data.row[column]" [name]="column">
                <label cLabel>{{ textHeaders.get(column) | translate  }}</label>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
              </div>
            </div>

              <!-- 'boolean' -->
            <section *ngIf="isType(['boolean'], column) && data.id != column && column != 'creationDate'" class="mb-3 mt-3">
              <c-form-check [switch]="true">
                <input cFormCheckInput checked type="checkbox" [(ngModel)]="data.row[column]" [name]="column"/>
                <label cFormCheckLabel>{{ textHeaders.get(column) | translate  }}</label>
              </c-form-check>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
              <!--
              <mat-checkbox [(ngModel)]="data.row[column]"  >
                {{ textHeaders.get(column) | translate  }}
              </mat-checkbox >
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
              -->
            </section>

            <!--
            <div *ngIf="isType(['date', 'dateTime'], column) && data.id != column && column != 'creationDate'" class="example-full-width" [cFormFloating]="true">

              <label cLabel>{{ textHeaders.get(column) | translate  }}</label>
              <input cFormControl [matDatepicker]="picker" [(ngModel)]="data.row[column]">
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>


            </div>
          -->
            <section *ngIf="isType(['date', 'dateTime'], column) && data.id != column && column != 'creationDate'" class="mb-3">
              <c-input-group>
                <input cFormControl [matDatepicker]="picker" [(ngModel)]="data.row[column]" [name]="column" [placeholder]="getPlaceholder(textHeaders.get(column))" readonly>
                <span cInputGroupText id="basic-addon1">
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </span>
              </c-input-group>
              <mat-hint style="width: 100%; text-align:right;display: block;">DD/MM/YYYY</mat-hint>
            </section>
          </ng-container>
          <div class="col-auto" class="mt-3">
            <!-- [disabled]="!formControl.valid" -->
            <button cButton type="submit" [mat-dialog-close]="1" (click)="confirmEdit()">{{ 'Save' | translate }}</button>
            <button cButton (click)="onNoClick()" tabindex="-1">{{ 'Cancel' | translate }}</button>
          </div>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
