<!-- Campo de búsqueda -->
<mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput placeholder="Buscar">
  </mat-form-field>
  
  <!-- Selector de categorías -->
  <mat-form-field appearance="fill">
    <mat-label>Seleccionar categoría</mat-label>
    <mat-select [(ngModel)]="selectedCategory">
      <mat-option value="">Todas las categorías</mat-option>
      <mat-option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <!-- Lista de recursos filtrados -->
  <mat-accordion multi="false">
    <mat-expansion-panel *ngFor="let resource of filteredResources">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ resource.title }}</mat-panel-title>
        <mat-panel-description>{{ resource.category }}</mat-panel-description>
      </mat-expansion-panel-header>
      <div class="simulated-text-box">
        {{ resource.content }}
      </div>
      <div class="file-download-simulation">
        <img src= "{{ resource.image }}" alt="{{ resource.altImage }}" class="file-icon">
        <span class="file-name">{{ resource.fileName }}</span>
        <a [href]="'ruta/al/archivo/' + resource.fileName" download class="download-link">Descargar</a>
      </div>

      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="button-container">
        <mat-button-toggle value="bold">
          Suscribir a recursos de este tipo de trastorno
        </mat-button-toggle>
      </mat-button-toggle-group>

    </mat-expansion-panel>
  </mat-accordion>
  
  <!-- Botón de carga de archivo -->
  <button mat-raised-button (click)="triggerFileUpload()" class="button-upload">
    <mat-icon>upload_file</mat-icon> Subir archivo
  </button>
  
  <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
  